*.mp4 filter=lfs diff=lfs merge=lfs -text
Gradient_Background_Loop.mp4 filter=lfs diff=lfs merge=lfs -text
public/Gradient_Background_Loop.mp4 filter=lfs diff=lfs merge=lfs -text
dist/Gradient_Background_Loop.mp4 filter=lfs diff=lfs merge=lfs -text
portfolio/Gradient_Background_Loop.mp4 filter=lfs diff=lfs merge=lfs -text
