*.mp4 filter=lfs diff=lfs merge=lfs -text
gradient_background_loop.mp4 filter=lfs diff=lfs merge=lfs -text
public/gradient_background_loop.mp4 filter=lfs diff=lfs merge=lfs -text
dist/gradient_background_loop.mp4 filter=lfs diff=lfs merge=lfs -text
portfolio/gradient_background_loop.mp4 filter=lfs diff=lfs merge=lfs -text
